.perfil {
	width: 100%;
	padding-top: 50px;
	color: $color-claro;
	background-image:url('./../images/flores.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	&__avatar {
		display: block;
		margin: 0 auto;
		border-radius: 50em;
	}
	&__nombre {
		text-align: center;
		font-size: 30px;
		color: white;
		@include titulos($Fuente2);
	}
	&__titulo {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		color: get-opacity($color-primario, .50);
	}
	&__boton {
		display: block;
		width: 100px;
		height: 40px;
		margin: 15px auto;
		padding-top: 8px;
		border-radius: 20px;
		text-decoration: none;
		text-align: center;
		color: $color-primario;
		@include titulos($Fuente2);
		background-color: get-opacity($color-primario, .20);
		border: 2px solid get-opacity($color-claro, .30);
	}
}

.perfil__minibio {
	margin: 0 auto;
	padding-top: 20px;
	h2 {
		@extend .perfil__nombre;
	}
	p {
		@extend .perfil__titulo;
	}
}

#perfilminibiop2{
	padding-top: 10px;
	margin: 0 auto;
	color: get-opacity($color-primario, .50);
}

#perfilminibiop3{
	padding-top: 1px;
	margin: 0 auto;
	color: get-opacity($color-primario, .50);
}

#nombre{
	font-size: 35px;
}